extends layout.pug

block content
  .row
    .columns.large-4
      img(src=dvd.imageUrl, class="thumbnail")
        
      ul(class="dvd-attr no-bullet")
        li
          strong Title: 
          |#{dvd.title}
        li
          strong Created: 
          |#{dvd.createdFromNow}
        li
          strong Rating: 
          |#{dvd.rating}
        li
          strong Info: 
          |#{dvd.abstractTxt}
      
      .row
        .columns.large-4.abstract-url
          a(href=dvd.abstractUrl, target="_blank") #{dvd.abstractSource}
        .columns.large-4
          a(href="https://duckduckgo.com/?q=" + dvd.title, class="ddg float-right", target="_blank")
            img(src="/images/ddg_logo.svg", width="80", height="80")

      .row
        .columns.large-12
          br/br/
          a(href="/dvds/" + dvd._id + "/edit" class="button small") Edit DVD
      br/
      
      if dvd.fileUrl === ''
        .row
          .columns.large-12
            button(class="button primary", data-toggle="episodeForm") Add Episode
            
            div(id="episodeForm", class="hide", data-toggler=".hide")
              form(action="/dvds/episodes", method="post")
                .row
                  .columns.large-12
                    input(type="text", name="name", value="" placeholder="Name")
                .row
                  .columns.large-12
                    input(type="text", name="fileUrl" value="" placeholder="File URL")
                    input(type="hidden", name="dvdId", value=dvd._id)
                .row
                  .columns.large-12
                    button(name="button", type="submit", class="button small success") Create Episode


    .columns.large-6
      if dvd.fileUrl !== ''
        - media = dvd
        - mediaType = 'dvd'
        include includes/player.pug
      else 
        each episode in dvd.episodes
          h4 #{episode.name}
          - media = episode
          - mediaType = 'episode'
          include includes/player.pug
          hr/
