extends layout.pug
  
block content
  br/
  .row.text-center
    each dvd in dvds
      .columns.large-2.dvd-list-dvd
        a(href='/dvds/' + dvd._id)
          img(class="thumbnail dvds-list-image", src=dvd.imageUrl)
        br/
        a(href="/dvds/" + dvd._id) #{dvd.title}
        br/
        br/
        each tag in dvd.tags
          span(class="badge") #{tag.name}

  .row
    .columns.large-10
      ul(class="pagination text-center", role="navigation", aria-label="Pagination")
        li(class=['pagination-previous', {'disabled': currentPage === 1}])
          if currentPage === 1
            |Previous
          else
            a(href="/?page=" + (parseInt(currentPage) - 1)) Previous
        if currentPage === maxPages
          li
            a(href="/?page=" + (parseInt(currentPage) - 1), aria-label="Page " + (parseInt(currentPage) - 1)) #{parseInt(currentPage) - 1}
        li
          a(class={'current': currentPage}, href="/?page=" + currentPage, aria-label="Page " + currentPage) #{currentPage}
        if currentPage !== maxPages
          li
            a(href="/?page=" + (parseInt(currentPage) + 1), aria-label="Page " + (parseInt(currentPage) + 1)) #{parseInt(currentPage) + 1}
        li(class=['pagination-next', {'disabled': currentPage === maxPages}])
          if currentPage === maxPages
            |Next
          else
            a(href="/?page=" + (parseInt(currentPage) + 1), aria-label="Next page") Next
