extends layout.pug
  
block content
  br/
  .row
    .columns.large-3
      h2 NETFLIX
      each dvd in netflix
        .card
          .card-divider
            h4 
              a(href=dvd.link, target="_blank") #{dvd.title}
          .card-section.text-center
            a(href=dvd.link, target="_blank")
              img(src=dvd.imageUrl, class="thumbnail")
          .card-section
            p
              |#{dvd.contentSnippet}
              
    .columns.large-4
      h2 TRAILERS
      each trailer in Object.keys(trailers)
        .card
          .card-divider
            h4 
              a(href=trailers[trailer].url, target="_blank") #{trailers[trailer].title}
          .card-section.text-center
            a(href=trailers[trailer].url, target="_blank")
              img(src=trailers[trailer].img, class="thumbnail")
          .card-section
              
    .columns.large-3
      h2 MOVIES.COM
      each dvd in movies
        .card
          .card-divider
            h4 
              a(href=dvd.link, target="_blank") #{dvd.title}
          .card-section.text-center
            a(href=dvd.link, target="_blank")
              img(src=dvd.enclosure.url, class="thumbnail")
          .card-section
            p
              |#{dvd.contentSnippet}

              
