<div class="bookmarks">
  <h5>Bookmarks:</h5>
  <select class="bookmarks-select">
    <option class="timer"></option>
    <% if dvd %>
      <% dvd.bookmarks.each do |bookmark| %>
        <option value="<%= bookmark.id %>" data-dvd="<%= bookmark.dvd.id %>" data-time="<%= bookmark.time %>">
          <%= bookmark.name %>
        </option>
      <% end %>
    <% elsif episode && episode.bookmarks %>
      <% episode.bookmarks.each do |bookmark| %>
        <option value="<%= bookmark.id %>" data-episode_id="<%= bookmark.episode.id %>" data-time="<%= bookmark.time %>">
          <%= bookmark.name %>
        </option>
      <% end %>
    <% end %>
  </select>
  <br/>
</div>

<% if dvd %>
  <%= button_tag class: 'hider tiny', data: { exposer: "new_bookmark" } do %>
    <i class="fi-bookmark"></i> &nbsp; Add Bookmark
  <% end %>
  <div id="new_bookmark" class="new-bookmark hide">
<% elsif episode %>
  <%= button_tag class: 'hider tiny', data: { exposer: "new_bookmark_#{episode.id}" } do %>
    <i class="fi-bookmark"></i> &nbsp; Add Bookmark
  <% end %>
  <div id="new_bookmark_<%= episode.id %>" class="new-bookmark hide">
<% end %>

<% if dvd %>

  <%= form_tag dvd_bookmarks_path(dvd) do %>
    <%= text_field_tag 'bookmark[name]', '', placeholder: 'Name' %>

    <%= hidden_field_tag 'bookmark[time]', '', class: 'timer' %>

    <%= button_tag type: 'submit', class: 'button small success' do %>
      <i class="fi-save"></i>
      &nbsp;
      Create Bookmark
    <% end %>
  <% end %>
<% elsif episode %>
  <%= form_tag episode_bookmarks_path(episode) do %>
    <%= text_field_tag 'bookmark[name]', '', placeholder: 'Name' %>

    <%= hidden_field_tag 'bookmark[time]', '', class: 'timer' %>

    <%= button_tag type: 'submit', class: 'button tiny success' do %>
      <i class="fi-save"></i>
      &nbsp;
      Create Bookmark
    <% end %>
  <% end %>
<% end %>
</div>