<%= form_for(episode) do |f| %>

  <div class="row">
    <div class="columns large-6">
      <%=f.label :name %>
      <%= f.text_field :name, placeholder: 'Name' %>
    </div>
  </div>

  <div class="row">
    <div class="columns large-6">
      <%=f.label :file_url %>
      <%= f.text_field :file_url, placeholder: 'File URL' %>
    </div>
  </div>

  <div class="row">
    <div class="columns large-6">
      <%= button_tag type: 'submit', class: 'button tiny success' do %>
        <i class="fi-save"></i>
        &nbsp;
        Save Episode
      <% end %>
    </div>
  </div>
<% end %>

<small><%= link_to 'Delete Episode', episode_path(episode),  method: :delete, class: 'delete' %></small>