<%= form_for(@dvd) do |f| %>
  <% if @dvd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dvd.errors.count, "error") %> prohibited this dvd from being saved:</h2>

      <ul>
        <% @dvd.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :title if action_name == 'edit' %>
      <%= f.text_field :title, placeholder: 'Title' %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">

      <%= f.label :rating if action_name == 'edit' %>
      <%= f.number_field :rating, placeholder: 'Rating' %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">

      <%= f.label 'Info' if action_name == 'edit' %>
      <%= f.text_area :abstract_txt, placeholder: 'Info' %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label 'Info Source' if action_name == 'edit' %>
      <%= f.text_field :abstract_source, placeholder: 'Info Source' %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :abstract_url if action_name == 'edit' %>
      <%= f.text_field :abstract_url, placeholder: 'Info Source URL' %>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <%= f.label :file_url if action_name == 'edit' %>
      <% if @dvd.episodes.blank? %>
        <%= f.text_field :file_url, placeholder: 'File URL' %>
      <% else %>
        <%= f.text_field :file_url, placeholder: 'File URL', disabled: true %>
      <% end %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="large-4 columns">
      <div class="preview hide">
        <img src="" class="image_to_upload"/>
      </div>
      <%= f.label 'image', 'DVD Image:' %>
      <%= f.file_field :image %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="large-4 columns">
      <%= button_tag type: 'submit', class: 'button small success' do %>
        <i class="fi-save"></i>
        &nbsp;
        Save DVD
      <% end %>
    </div>
  </div>
<% end %>
