<%= form_for(@dvd) do |f| %>
  <% if @dvd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dvd.errors.count, "error") %> prohibited this dvd from being saved:</h2>

      <ul>
      <% @dvd.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>
  <div class="field">
    <%= f.label :abstract_txt %><br>
    <%= f.text_field :abstract_txt %>
  </div>
  <div class="field">
    <%= f.label :abstract_source %><br>
    <%= f.text_field :abstract_source %>
  </div>
  <div class="field">
    <%= f.label :abstract_url %><br>
    <%= f.text_field :abstract_url %>
  </div>
  <div class="field">
    <%= f.label :file_url %><br>
    <%= f.text_field :file_url %>
  </div>
  <div class="field">
    <%= f.label :playback_time %><br>
    <%= f.number_field :playback_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
