<div>
  <% if dvd %>
    <% dvd.tag_list.each do |tag| %>
      <span class="label info"><%= tag %></span>
    <% end %>
  <% elsif episode %>
    <% episode.tag_list.each do |tag| %>
      <span class="label info"><%= tag %></span>
    <% end %>
  <% end %>
</div>
<br/>

<% if dvd %>
  <%= button_tag class: 'hider tiny', data: { exposer: 'new_tag' } do %>
    <i class="fi-price-tag"></i>
    &nbsp;
    Add Tag
  <% end %>
<% elsif episode %>
  <%= button_tag 'Add Tag', class: 'hider tiny', data: { exposer: "new_tag_#{episode.id}" } %>
<% end %>

<% if dvd %>
  <div id="new_tag" class="new-tag hide">

    <%= form_tag dvd_path(dvd), method: :put do %>
      <%= text_area_tag 'dvd[tag_list]', dvd.tag_list.join(','), placeholder: 'Tag name' %>

      <%= button_tag type: 'submit', class: 'button small success' do %>
        <i class="fi-save"></i>
        &nbsp;
        Submit Tags
      <% end %>
    <% end %>
  </div>

<% elsif episode %>
  <div id="new_tag_<%= episode.id %>" class="new-tag hide">
    <br/>

    <%= form_tag episode_path(episode), method: :put do %>
      <%= text_area_tag 'episode[tag_list]', episode.tag_list.join(','), placeholder: 'Tag name' %>

      <%= button_tag type: 'submit', class: 'button tiny success' do %>
        <i class="fi-save"></i>
        &nbsp;
        Submit Tags
      <% end %>
    <% end %>
  </div>
<% end %>