<br/>

<% if @search %>
  <h3>Results for:</h3> <%= @search %>
<% end %>
<br/><br/>

<ul class="dvds-list small-block-grid-5">
  <% @dvds.each_with_index do |dvd, idx| %>
    <li>
      <% if dvd.image %>
        <%= link_to dvd_path(dvd) do %>
          <% if idx < 5 %>
            <%= image_tag dvd.image.url, class: 'th has-tip',
                          data: { tooltip: '', options: 'hover_delay: 900;' },
                          title: dvd.abstract_txt %>
          <% else %>
            <%= image_tag dvd.image.url, class: 'th has-tip tip-top',
                          data: { tooltip: '', options: 'hover_delay: 900;' },
                          title: dvd.abstract_txt %>
          <% end %>
        <% end %>
      <% end %>

      <div class="dvd-title">
        <%= link_to  dvd.title, dvd_path(dvd) %>
      </div>
      <% unless dvd.tag_list.blank? %>
        <% dvd.tag_list[0..1].each do |tag| %>
          <span class="label info"><%= tag %></span>
        <% end %>
        <% if dvd.tag_list.count > 2 %>
          <span class="label info">...</span>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<br/>
<div class="row">
  <div class="columns large-11 text-center">
    <% if action_name == 'index' %>
      <%= will_paginate @dvds, renderer: FoundationPagination::Rails %>
    <% end %>
  </div>
</div>


<br>
