<%= content_for(:title) do %>
    <%= @dvd.title %> |
<% end %>

<br/><br/>

<div class="row">
  <div class="large-4 columns">

    <%= image_tag @dvd.image.url, class: 'th' if @dvd.image %>

    <br/><br/>

    <ul class="dvd-attr no-bullet">
      <li>
        <strong>Title:</strong>
        <%= @dvd.title %>
      </li>
      <li>
        <strong>Created:</strong>
        <%= time_ago_in_words @dvd.created_at %> ago
      </li>
      <li>
        <strong>Rating:</strong>
        <%= @dvd.rating %>
      </li>
      <li>
        <strong>Info:</strong>
        <%= @dvd.abstract_txt %>
      </li>
    </ul>

    <br/><br/>

    <div class="row">
      <div class="columns large-6 abstract-src">
        <%= link_to @dvd.abstract_source, @dvd.abstract_url %>
      </div>
      <div class="columns large-6">
        <a href="https://duckduckgo.com/?q=<%= @dvd.title %>" class="ddg" target="_blank">
          <img src="/img/ddg_logo.svg" width="80" height="80">
        </a>
      </div>
    </div>

    <br/><br/>

    <%= link_to edit_dvd_path(@dvd), class: 'button small' do %>
      <i class="fi-pencil"></i>
      &nbsp;
      Edit DVD
    <% end %>

    <br/>

    <% if @dvd.file_url.blank? %>

      <br/>
      <%= button_tag 'Add Episode', class: 'hider small', data: { exposer: 'new_episode' } %>

      <div id="new_episode" class="new-episode hide">
        <%= form_tag dvd_episodes_path(@dvd) do %>
          <div class="row">
            <div class="columns large-12">
              <%= text_field_tag 'episode[name]', '', placeholder: 'Name' %>
            </div>
          </div>

          <div class="row">
            <div class="columns large-12">
              <%= text_field_tag 'episode[file_url]', '', placeholder: 'File URL' %>
            </div>
          </div>

          <div class="row">
            <div class="columns large-12">
              <%= button_tag type: 'submit', class: 'button small success' do %>
                <i class="fi-save"></i>
                &nbsp;
                Create Episode
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <br/><br/>
      <strong>DVD Tags:</strong>
      <hr/>
      <%= render 'tags', dvd: @dvd, episode: nil %>
  <% end %>
  </div>

  <div class="large-6 columns">
    <% unless @dvd.file_url.blank? %>
      <div class="player-div">
        <video class="player" poster="/img/dvdpila_poster.png" data-dvd="<%= @dvd.id %>"></video>
      </div>

      <br/><hr><br/>
      <%= render 'bookmark', dvd: @dvd, episode: nil %>
    <% end %>

    <% if @dvd.file_url.blank? %>


      <ul class="episodes no-bullet">
        <% @dvd.episodes.each do |episode| %>
          <li>
            <div class="episode">
              <p><strong>Name:</strong> <%= episode.name %></p>

              <div class="player-div">
                <video class="player episode" poster="/img/dvdpila_poster.png" data-episode="<%= episode.id %>">
                </video>


                <%= button_tag 'Edit Episode', class: 'hider tiny', data: { exposer: "edit_#{dom_id(episode)}" } %>

                <div id="edit_<%= dom_id(episode) %>" class="edit-episode hide">
                  <%= render 'episode_edit_form', episode: episode %>
                </div>
                <hr>

                <%= render 'bookmark', dvd: nil, episode: episode %>

                <%= render 'tags', dvd: nil, episode: episode %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>

    <%= render 'tags', dvd: @dvd, episode: nil unless @dvd.file_url.blank? %>
  </div>
</div>

<br/><br/><br/>